form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.borderContainer {
    max-width: 1300px;
    width: 100%;
    height: 1050px;
    padding: 40px 40px 30px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}

label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 18px;
    margin: 39px 0 14px 0;
    margin-left: 10px;
}

.width {
    width: 100%;
}

select {
    font-size: 18px;
}

input,
select {
    width: 100%;
    border-radius: 5px;
    padding: 18px;
    background-color: rgba(153, 153, 153, 0.1);
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: #FFF;
    font-size: 14px;
}



.questionBox {
    height: 170px;
    margin-bottom: 50px;
    max-width: 1098px;
    width: 100%;
}

.pwLabel {
    white-space: wrap;
}

.firstLine {
    display: flex;
    gap: 24px;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
}

textarea {
    border-radius: 5px;
    background-color: rgba(153, 153, 153, 0.1);
    padding: 18px;
    height: 100px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

button {
    font-size: 18px;
    /* margin: 39px 0 0 0; */
    border-radius: 10px;
    height: 50px;
    border: none;
    background-color: #FF00AE;
    box-shadow: 0px 8px 40px 0px rgba(255, 0, 174, 0.5),
        inset 0px 0px 10px 1px rgba(255, 255, 255, 0),
        0px 0px 0px 1px rgb(255, 0, 174);
    cursor: pointer;
    margin-top: 50px;
    margin: auto;
    width: 30%;
}

.container {
    max-width: 1178px;
    width: 100%;
    height: 470px;
    padding: 40px 40px 30px;
    border-radius: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.08);
    background: #080808;
    margin: auto;
}


input::placeholder,
textarea::placeholder {
    color: #999999;
}

.submitButton:hover {
    color: #C4C4C4;
    transition: all 0.8s ease-out;
}

@media (max-width: 1200px) {}

@media (max-width: 700px) {
    form {
        padding: 0 10px;
    }

    .firstLine {
        flex-direction: column;
        gap: 0;

    }

    label {
        margin: 39px 0 14px 0;
    }

    button {
        margin-bottom: 40px;
    }

    textarea {
        height: 118px;
    }

    .submitButton {
        height: 45px;
    }
}