.allContainer {
    padding: 0 120px;
    margin-top: 130px;
}

@media (max-width: 1300px) {

    .questionForm {
        padding: 0 50px;
    }
}

@media (max-width: 1200px) {

    .allContainer,
    .questionForm {
        padding: 0 50px;
    }
}

@media (max-width: 700px) {

    .allContainer,
    .questionForm {
        padding: 0px;
    }

}