.sectionBlock {
    margin: 100px 0 70px 0;
}

.sectionBlock13 {
    margin: 70px 0;
}

.profileContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1200px;
    column-gap: 24px;
    row-gap: 70px;
    margin: auto;
}

.profile-img {
    width: 100%;
}

.profile-img:hover {
    transform: scale(1.06);
    transition-duration: 2.5s;
}

.faqContainer {
    padding: 0 120px;
}

@media (max-width: 1260px) {

    .responsive {
        padding: 0 50px;
    }

    .faqContainer {
        padding: 0;
    }

    .profileContainer {
        grid-template-columns: repeat(2, 1fr);
        flex-basis: content;
        gap: 24px;
        margin-top: -20px;
    }
}

@media (max-width:1024px) {
    .faqContainer {
        padding: 0;
    }


}

@media (max-width: 700px) {

    .faqContainer {
        padding: 0;
    }

    .profileContainer {
        grid-template-columns: repeat(1, 1fr);
        margin-top: -110px;
        max-width: 400px;
    }

    .bottom {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .responsive {
        padding: 0 30px;
    }

}