.allContainer {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    row-gap: 24px;
    margin: 120px 0 160px 0;

}

.faqAllContainer {
    padding: 0 120px;
}

.PrizeTop {
    position: relative;
    display: flex;
    height: 506px;
    overflow: hidden;
    margin-top: 70px;
}

@media (max-width:1200px) {
    .allContainer {
        flex-direction: column;
        gap: 60px;
    }

    .faqAllContainer {
        padding: 0 50px;
    }
}

@media (max-width:700px) {
    .allContainer {
        margin: 100px 0 0;
        gap: 40px;
    }

    .faqAllContainer {
        padding: 0 30px;
    }

    .PrizeTop {
        margin: 0;
    }
}