.allContainer {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin: 120px 0 120px 0;
}

@media (max-width:1200px) {
    .allContainer {
        flex-direction: column;
        gap: 60px;
    }
}

@media (max-width:700px) {
    .allContainer {
        margin: 100px 0 0;
        gap: 40px;
    }
}