.all-container,
.answerAllContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 24px;
}

.answerAllContainer {
    margin: auto;
    width: 100%;
    max-width: 70%;
}

.qnaList-container {
    border-radius: 20px;
    background-color: #080808;
    font-size: 18px;
    margin-top: 24px;
    padding: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease-in-out;
}

/* click햇을때 */
.qnaList-container.open {
    background-color: #080808;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.title-container {
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container>span {
    cursor: pointer;
}

.faq-content {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq-content p {
    margin: 17px 0 0 0;
    color: #FFFFFF99;
    font-size: 16px;
}

.toggle-icon {
    font-size: 30px;
}

.modalImg {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.questionTitle {
    position: absolute;
    margin-left: 50px;
}

@media (max-width:1200px) {
    .all-container {
        max-width: 70%;
        margin: auto;
    }
}

@media (max-width:700px) {
    .title-container {
        gap: 20px;
    }

    .all-container,
    .answerAllContainer {
        max-width: none;
        padding: 0 30px;
    }

    .questionTitle {
        position: static;
        margin-left: 0;
    }
}