.mainTitle {
    margin-top: 30px;
    line-height: 1.3;
}

.mainTitle p {
    font-size: 54px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainTitle p:nth-child(2) {
    color: #FFF;
}

.subTitle p {
    width: 470px;
    font-size: 16px;
    color: #FFFFFF99;
    line-height: 26px;
}

.subTitle {
    flex-wrap: wrap;
    margin: 30px 0 40px 0;
}

@media (max-width:1200px) {
    /* .allContainer {
        padding: 0 120px;
    } */
}

@media (max-width:800px) {
    .mainTitle p {
        font-size: 35px;
    }
}

@media (max-width:700px) {
    .subTitle {
        margin: 20px 0 40px 0;

    }
}

@media (max-width:600px) {
    /* .allContainer {
        padding: 0 30px;
    } */

    .mainTitle p {
        font-size: 35px;
    }

    .subTitle p {
        width: auto;
    }
}