.optionContainer {
    display: flex;
    flex-direction: column;
    background-color: none;
    margin: 18px 0 0 0;
    cursor: pointer;
}

.edit {
    color: #ffffff80;
}

.delete {
    margin-top: 17px;
    color: #FF00AE;
}