.all-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 130px;
    z-index: 1;
    position: relative;
}

.qna-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.qna-title {
    font-size: 54px;
}

.qnaList-container {
    margin: 40px 0;
}

.faq-all-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 70%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 38px 0 220px 0;
    z-index: 1;
}

@media (max-width:850px) {
    .qna-title {
        font-size: 35px;
    }
}

@media (max-width:700px) {
    .qna-container {
        margin: 50px 0;
    }

    .faq-all-container {
        max-width: none;
        padding: 0 30px;
    }

    .buttonContainer {
        margin: 38px 0 150px 0;
    }

    .qnaList-container {
        margin: 0 0 80px 0;
    }
}