.styleContainer {
    /* padding: 0 120px; */
}

.allContainer {
    /* padding: 0 120px; */
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 17.5%, rgb(0, 0, 0) 82.5%, rgba(0, 0, 0, 0) 100%);
}

.slideContainer {
    display: flex;
    width: 100%;
    gap: 50px;
}

.slideImg {
    width: 402px;
    height: 270px;
    border-radius: 24px;
}

@media (max-width: 1200px) {
    .slideImg {
        width: 350px;
        height: 250px;
    }
}

@media (max-width: 700px) {
    .slideImg {
        width: 260px;
        height: 210px;
    }
}