.footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.footerContent {
    border-top: 1px solid black;
    padding: 120px;
    display: flex;
    gap: 200px;
    align-items: flex-start;
    width: 100%;
    max-width: 1700px;
}

.logoSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    width: 120px;
    height: 22px;
}

.logoSection img {
    width: 120px;
    height: auto;
}

.pages,
.social {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

li {
    margin-top: 20px;
    font-size: 16px;
}

li a {
    color: #aaaaaa;
}

.web {
    padding: 50px 150px;
    color: #aaaaaa;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .footerContent {
        gap: 145px;
        padding: 50px;
    }

    .web {
        padding: 60px;
    }
}

@media (max-width: 700px) {
    .footer {
        margin: 0;
    }

    .footerContent {
        padding: 30px;
        gap: 30px;
        flex-direction: column;
    }

    .logoSection img {
        width: 80px;
    }

    .pages,
    .social {
        font-size: 16px;
    }

    li {
        font-size: 12px;
    }

    .web {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}