.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    width: 100%;
    height: 91px;
    background-color: black;
    border-bottom: 1px solid #000000;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menuList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.logo {
    width: 93px;
    height: 17px;
}

.applyButton {
    width: 89px;
    height: 46px;
}

.applyButton div {
    width: 89px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;

    border-radius: 10px;
    border: none;
    background-color: #FF00AE;
    box-shadow: 0px 8px 40px 0px rgba(255, 0, 174, 0.5),
        inset 0px 0px 10px 1px rgba(255, 255, 255, 0),
        0px 0px 0px 1px rgb(255, 0, 174);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}




.menuButton {
    display: none;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 0px;
}

.menuButton:focus,
.menuButton:active {
    outline: none;
    box-shadow: none;
    border: none;
}

@media (min-width: 701px) {
    .applyButton {
        position: absolute;
        right: 120px;
    }

}


@media (max-width: 1200px) {
    .header {
        padding: 0 50px;
    }

}

@media (max-width: 800px) {
    /* .applyButton {
        position: absolute;
        right: 30px; 
    } */

    .nav {
        gap: 30px;
    }

    .menuList {
        gap: 18px;
    }
}

@media (max-width: 700px) {

    .header {
        padding: 0px;
    }

    .logo {
        display: none;
    }

    .menuButton {
        display: block;
        margin-left: -35px;
    }

    .nav ul {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 25px;
        padding: 30px;
        transition: top 0.5s ease;
        z-index: 10;
    }

    .nav ul.active {
        top: 71px;
        /*헤더가 91임*/
    }

    .applyButton {
        width: 100%;
        display: block;
    }

    .applyButton div {
        width: 100%;
        max-width: 640px;
        height: 43px;
    }
}