.card {
    display: flex;
}

.gridContainer {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px auto auto auto;
}

.all-container {
    border: 6px solid var(--, rgba(255, 255, 255, 0.05));
    background: linear-gradient(180deg, #2B2B2B 0%, rgba(255, 0, 174, 0.21) 100%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 0 30px;
    opacity: 1;
    width: 100%;
    max-width: 370px;
}

.all-container img {
    width: 100%;
    max-width: 50px;
    padding-top: 28px;
}

.memberInfo-container {
    padding: 37px 0;
}

.message {
    margin-top: 20px;
    width: 100%;
    line-height: 1.5;
    color: #FFFFFF80;
}

.major {
    font-size: 16px;
    color: #FFFFFF99;
}

.dotContainer {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 10px;
}

.dot {
    border-radius: 30px;
    width: 4.7px;
    height: 5px;
    background-color: white;
}

.line {
    background: linear-gradient(90deg, rgba(255, 0, 174, 0.05) 0%, #FF00AE 50%, rgba(255, 0, 174, 0.05) 100%);
    width: 70%;
    height: 1px;
    margin: auto;
}

@media (max-width: 1200px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 120px;
    }

    .all-container {
        width: 100% !important;
        max-width: none !important;
    }
}

@media (max-width:700px) {
    .allContainer {
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 30px;
    }

    .all-container {
        width: 100%;
    }
}