.cardContainer {
    background: linear-gradient(0.07383128568086761deg,
            var(--token-f5219c3a-5ee2-4639-9e23-4bdcf5509ebd,
                rgba(0, 85, 255, 0.15)) 0%,
            var(--token-b456af2e-fd88-41ae-8686-ad7692875dfd,
                rgba(97, 97, 97, 0.09)) 100%);
    border-radius: 30px;
    padding: 20px 20px 40px;
    width: 100%;
}

.detail {
    padding: 0 12px;
    margin: 22px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.img {
    height: auto;
    border-radius: 20px;
}

.title-container {
    display: flex;
    column-gap: 10px;
    font-size: 18px;
}

.content-container {
    color: #FFFFFF80;
    line-height: 26px;
}

@media (max-width: 1200px) {
    .firstImg {
        height: 256px;
    }
}

@media (max-width: 768px) {}